'use strict'
{{#operations}}

const {{classname}} = require('./{{classname}}Service')
{{#operation}}

module.exports.{{nickname}} = (req, res, next) =>
  {{classname}}.{{nickname}}(req.swagger.params, res, next)
{{/operation}}
{{/operations}}
