'use strict'

const app = require('connect')()
const http = require('http')
const swaggerTools = require('swagger-tools')
const yaml = require('js-yaml')
const fs = require('fs')

const SERVER_PORT = {{serverPort}}

// swaggerRouter configuration
const options = {
  swaggerUi: '/swagger.json',
  controllers: './controllers',
  // Conditionally turn on stubs (mock mode)
  useStubs: process.env.NODE_ENV === 'development'
}

// The Swagger document (require it, build it programmatically, fetch it from a URL, ...)
const spec = fs.readFileSync('./api/swagger.yaml', 'utf8')
const swaggerDoc = yaml.safeLoad(spec)

// Initialize the Swagger middleware
swaggerTools.initializeMiddleware(swaggerDoc, function (middleware) {
  // Interpret Swagger resources and attach metadata to request - must be first in swagger-tools middleware chain
  app.use(middleware.swaggerMetadata())

  // Validate Swagger requests
  app.use(middleware.swaggerValidator())

  // Route validated requests to appropriate controller
  app.use(middleware.swaggerRouter(options))

  // Serve the Swagger documents and Swagger UI
  app.use(middleware.swaggerUi())

  // Start the server
  http.createServer(app).listen(SERVER_PORT, () => {
    console.log(`Your server is listening on port ${SERVER_PORT} (http://localhost:${SERVER_PORT})`)
    console.log(`Swagger-ui is available on http://localhost:${SERVER_PORT}/docs`)
  })
})
