'use strict'
{{#operations}}
{{#operation}}

/**
 * parameters expected in the args:
{{#allParams}}
 * {{paramName}} ({{dataType}})
{{/allParams}}
 **/
exports.{{nickname}} = (args, res, next) => {
  {{^returnType}}
  // no response value expected for this operation
  res.end()
  {{/returnType}}
  {{#returnType}}
  const examples = {}

  {{#examples}}
  examples['{{contentType}}'] = {{{example}}}
  {{/examples}}

  res.setHeader('Content-Type', 'application/json')
  res.end(JSON.stringify({
    value: examples[Object.keys(examples)[0]] || {},
    space: 2
  }))
  {{/returnType}}
}
{{/operation}}
{{/operations}}
